@import 'vars.scss';
@import 'figures.scss';

body p {
    line-height: 1.5;
    min-width: 200px;
}

article {
    line-height: 1.5;
    // padding-bottom: 5rem;
}

h1.title {
    font-size: 3rem;
    margin-top: 1em;
    margin-bottom: 0.1rem;
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

h3,
h4 {
    margin-top: 2rem;
}

.zola-anchor {
    font-size: 50%;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 5px;
}

dfn {
    text-decoration: underline;
    font-weight: 500;
    cursor: help;
}

dfn:hover {
    color: $dfn-hover-color;
    text-decoration: underline $dfn-hover-color;
}
