@import 'vars.scss';
@import 'details.scss';
@import 'toc.scss';

body {
    font-family: var(--default-fonts);
    color: $font-color;
    max-width: $min-body-size;
    margin: 0 auto;
    padding: 0px 0.6rem 0.6rem 0.6rem;
    font-size: calc(max(17px, 1rem));
}

h1.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 1em;
    margin-bottom: 0.1rem;
    text-align: center;
}

header {
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto 3rem;
    padding-top: .6rem;
    padding-bottom: .5rem;
    top: 0px;
    background: $header-bg;
    height: 2.5rem;
}

header .title {
    font-size: 1.5rem;
}

#top-link {
    opacity: 0;
    transition: opacity .2s ease-out;
}

#top-link.shown {
    opacity: 1;
}

#top-link.show_anim {
    transition: opacity 1.0s ease-out;
}

header .links {
    font-size: 1.1rem;
}

header .links ul {
    display: inline;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header .links li {
    display: inline;
    margin-right: 0.2rem;
    vertical-align: top;
}

header .links .link-icon {
    font-size: 2rem;
}

footer {
    margin-top: 10rem;
    text-align: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.subtitle {
    font-family: var(--system-fonts);
    margin-top: 0px;
    margin-bottom: 2rem;
    padding-left: 0em;
    color: $subtitle-font-color;
    text-align: center;
}

.subtitle div.created,
.subtitle div.updated {
    display: block;
}

.subtitle .no-update {
    font-size: 1.2rem;
}

.subtitle .updated {
    font-size: 1rem;
}

.subtitle a {
    color: $subtitle-link;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .3rem 0px .5rem;
}


a {
    color: $a-color;
    text-decoration: underline;
}

.zola-anchor {
    margin-right: .5rem;
}
