@import 'vars.scss';

article {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

article .date {
    margin-bottom: .3rem;
}

article .title {
    font-size: 1.8rem;
    margin-left: 1rem;
}

.container {
    padding: 0.6rem;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
