@import 'vars.scss';

section.section h2,
section.section h3,
section.section h4,
section.section h5,
section.section h6 {
    margin-top: 1rem;
}

.subtitle {
    font-size: 1rem !important;
}

.subtitle strong {
    font-weight: 400;
}


ul {
    margin-top: .3rem;
    margin-bottom: 1.2rem;
    line-height: 1.4rem;
}

li {
    margin-bottom: .4rem;
}

li ul {
    margin-top: 1rem;
}

details h2 {
    display: inline;
}

details {
    margin-bottom: 1.5rem;
}

details summary h2 {
    font-size: 1.7rem;
}
