{% extends "base.html" %}

{% block js %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"
    integrity="sha512-gU7kztaQEl7SHJyraPfZLQCNnrKdaQi5ndOyt4L4UPL/FHDd/uB9Je6KDARIqwnNNE27hnqoWLBq+Kpe4iHfeQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/python.min.js"
    integrity="sha512-iDlDwqOvWrZasw1DKx/EN1onOhfSdVh86HnlN64ndFMFtqa4ojwfWMit4B7KmZ7b7bMAaFZA8PnwWMBhfGbS2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>hljs.highlightAll();</script> -->

{% if config.extra.katex_enable %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
    integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js"
    integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx"
    crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js"
    integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy"
    crossorigin="anonymous"></script>
{% if config.extra.katex_auto_render %}
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js"
    integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
{% endif %}{% endif %}{% endblock js %}

{% block css %}
<link rel="stylesheet" href='{{ get_url(path="code.css") | safe }}'>
<link rel="stylesheet" href='{{ get_url(path="article.css") | safe }}'>
{% if config.extra.katex_enable %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css"
    integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
{% endif %}
{% endblock css %}

{% block page_title %}
    <h1 class="title">
        {{ page.title }}
    </h1>
    <div class="subtitle">
        {% if page.date and page.updated %}
            {%- if page.date %}<div class="created"><time title="Created" class="created" datetime="{{ page.date }}">{{ page.date }}</time></div>{% endif -%}
            {%- if page.updated %}<div class="updated"><a href="https://github.com/vishusandy/vishusandy.github.io/commits/main/content{{ page.path | trim_end_matches(pat="/") | safe }}.md" target="_blank" rel="noreferrer noopener">Updated <time title="Updated" class="updated" datetime="{{ page.updated }}">{{ page.updated }}</time></a></div>{% endif -%}
        {%- else -%}
            {%- if page.date %}<div class="created no-update"><time title="Created" class="created" datetime="{{ page.date }}">{{ page.date }}</time></div>{% endif -%}
            {%- if page.updated %}<div class="updated"><a href="https://github.com/vishusandy/vishusandy.github.io/commits/main/content{{ page.path | trim_end_matches(pat="/") | safe }}.md" target="_blank" rel="noreferrer noopener">Updated <time title="Updated" class="updated" datetime="{{ page.updated }}">{{ page.updated }}</time></a></div>{% endif -%}
        {% endif %}
    </div>
    {%- if page.description -%}
        <p>{{ page.description | safe }}</p>
    {%- endif -%}
{% endblock -%}

{%- block toc %}
{{ macros::header_toc(page=page) }}
{% endblock -%}

{%- block content %}
    <article id="top" class="markdown-body">
        {{ page.content | safe }}
    </article>
{% endblock content %}
