{% extends "base.html" %}

{%- block css %}<link rel="stylesheet" href='{{ get_url(path="page.css") | safe }}'>{% endblock css -%}

{% block page_title %}
    <h1 class="title">
        {{ page.title }}
    </h1>
    <div class="subtitle">
            {% if page.updated %}<div class="updated"><a href="https://github.com/vishusandy/vishusandy.github.io/commits/main/content{{ page.path | trim_end_matches(pat="/") }}.md" target="_blank" rel="noreferrer noopener">Updated <time titled="Updated" class="updated" datetime="{{ page.updated }}">{{ page.updated }}</time></a></div>{% endif %}
    </div>
    {% if page.description -%}
        <p>{{ page.description | safe }}</p>
    {%- endif %}
{% endblock -%}

{% block content -%}

{{ page.content | safe }} {% endblock content %}
